@model Dnomyar.Web.MTG.Models.Home.TestVM
@{
    ViewBag.Title = "Home Page";
}

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-3">
        @Model.Id
    </div>
    <div class="col-md-3">
        @Model.Name
    </div>
    <div class="col-md-3">
        @Model.IsTrue
    </div>
    <div class="col-md-3">
        @Model.Date
    </div>
</div>

<div class="row">
    @Html.ActionLink("Insert data", "Insert")
</div>